.App {
  text-align: center;
  background-color: rgb(167, 158, 159);
}

#nav {
  height: 200px;
  width: 2000px;
  background-color: cadetblue;
}

#logo{
  height:200px;
  width: 200px;
}
#fcontainer {
  position: absolute;
  top: 300px;
  left: 50px;
  height: 1000px;
  width: 1000px;
  background-color: rgb(20, 118, 209);
}

#food {
  float: right;
  height: 200px;
  width: 200px;
  /* background-color: rgb(62, 62, 95); */
}

#foodimg {
  height: 50px;
  width: 50px;
}

#intake{
  position: absolute;
  top: 300px;
  right: 50px;
  height: 500px;
  width: 800px;
  background-color: chartreuse;
}

#data{
  position: absolute;
  left: 200px;
  height: 700px;
  width: 1400px;
  background-color: coral;
}

#form{
  position: absolute;
  top: 400px;
  left: 400px;
}

.hidden {
  visibility: hidden;
}

.nothidden {
  visibility: visible;
}